<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>
            Авторизация
        </title>
        <style>
            .form_auth_block {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
        </style>
    </head>
    <body>
        <div class="form_auth_block">
            <div class="form_auth_block_content">
              <h1>Авторизация</h1>
              <form action="/form" method="post">
                <label>Введите Ваш логин:</label>
                <br />
                <input type="text" name="username" placeholder="Логин" required />
                <br /><br />
                <label>Введите Ваш пароль</label>
                <br />
                <input type="password" name="password" placeholder="Пароль" required />
                <br /><br />
                <button type="submit" name="form_auth_submit">Войти</button>
              </form>
            </div>
          </div>
    </body>
</html>